<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <title>Вакансии</title>
    <link href="style1.css" rel="stylesheet" type="text/css">
</head>
<body>
<table>
    <tbody>
    <tr>
        <th>Title</th>
        <th>City</th>
        <th>Company Name</th>
        <th>Salary</th>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/31795219?query=java%20Kiev"><a href="url"></a>Middle Backend разработчик</td>
        <td class="city">Киев</td>
        <td class="companyName">Genesis</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32415803?query=java%20Kiev"><a href="url"></a>Android Developer</td>
        <td class="city">Киев</td>
        <td class="companyName">COMTEK Inc.</td>
        <td class="salary">от 3 000 USD</td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/31795207?query=java%20Kiev"><a href="url"></a>Middle Back End Developer</td>
        <td class="city">Киев</td>
        <td class="companyName">Genesis</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32758891?query=java%20Kiev"><a href="url"></a>Aspose.Imaging .NET Developer</td>
        <td class="city">Киев</td>
        <td class="companyName">Aspose</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32858428?query=java%20Kiev"><a href="url"></a>Middle scala backend developer</td>
        <td class="city">Киев</td>
        <td class="companyName">EXANTE</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/33250972?query=java%20Kiev"><a href="url"></a>DevOps Engineer</td>
        <td class="city">Киев</td>
        <td class="companyName">DEPS</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/33035967?query=java%20Kiev"><a href="url"></a>Архитектор баз данных</td>
        <td class="city">Киев</td>
        <td class="companyName">Petrosoft Inc.</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/33115376?query=java%20Kiev"><a href="url"></a>Web-разработчик, удаленная работа</td>
        <td class="city">Киев</td>
        <td class="companyName">ООО ARQISOFT</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/33212597?query=java%20Kiev"><a href="url"></a>Junior Software Developer</td>
        <td class="city">Киев</td>
        <td class="companyName">BetterHire.me</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32710299?query=java%20Kiev"><a href="url"></a>Ведущий инженер-программист Java</td>
        <td class="city">Киев</td>
        <td class="companyName">Смарт-Холдинг</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/33235807?query=java%20Kiev"><a href="url"></a>DevOps Engineer (Cyprus)</td>
        <td class="city">Киев</td>
        <td class="companyName">ООО Spotware Systems Ltd</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/33233789?query=java%20Kiev"><a href="url"></a>(Senior) Programmer to Finland</td>
        <td class="city">Киев</td>
        <td class="companyName">We Got Talent OY</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32673148?query=java%20Kiev"><a href="url"></a>Data Scientist</td>
        <td class="city">Киев, Лукьяновская</td>
        <td class="companyName">ООО Admixer. Advertising Technologies</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32632355?query=java%20Kiev"><a href="url"></a>Middle Python Developer</td>
        <td class="city">Киев, Дворец "Украина" и еще 1</td>
        <td class="companyName">Альфа-Банк, Украина</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/30007631?query=java%20Kiev"><a href="url"></a>Android developer</td>
        <td class="city">Киев</td>
        <td class="companyName">FOZZY GROUP, Корпорация</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/33199362?query=java%20Kiev"><a href="url"></a>Senior Data Engineer (AWS)</td>
        <td class="city">Киев</td>
        <td class="companyName">ООО ClearScale</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/33155623?query=java%20Kiev"><a href="url"></a>Software Java Architect</td>
        <td class="city">Киев</td>
        <td class="companyName">Инфопульс</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/33147642?query=java%20Kiev"><a href="url"></a>SQL Developer</td>
        <td class="city">Киев</td>
        <td class="companyName">Гос. корп. Головний проектно-виробничий і сервісний центр комп’ютерних фінансових технологій Міністерства фінансів України</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/33112821?query=java%20Kiev"><a href="url"></a>Sr Java Developer</td>
        <td class="city">Киев</td>
        <td class="companyName">Nitka Technologies</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/33100988?query=java%20Kiev"><a href="url"></a>Java Engineer</td>
        <td class="city">Киев</td>
        <td class="companyName">ООО lifecell</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/33100909?query=java%20Kiev"><a href="url"></a>Software Solution Engineer</td>
        <td class="city">Киев</td>
        <td class="companyName">ООО lifecell</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/33100956?query=java%20Kiev"><a href="url"></a>Application Engineer</td>
        <td class="city">Киев</td>
        <td class="companyName">ООО lifecell</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/33141727?query=java%20Kiev"><a href="url"></a>Senior IT Recruiter</td>
        <td class="city">Киев</td>
        <td class="companyName">EPAM Systems, Inc.</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/33073098?query=java%20Kiev"><a href="url"></a>Python Developer</td>
        <td class="city">Киев, Дворец "Украина" и еще 1</td>
        <td class="companyName">Альфа-Банк, Украина</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/33077710?query=java%20Kiev"><a href="url"></a>Android Developer to Finland</td>
        <td class="city">Киев</td>
        <td class="companyName">We Got Talent OY</td>
        <td class="salary">от 5 000 EUR</td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/33011873?query=java%20Kiev"><a href="url"></a>Менеджер проектів Управління кредитних продуктів (Corezoid)</td>
        <td class="city">Киев</td>
        <td class="companyName">Первый Украинский Международный банк</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32858546?query=java%20Kiev"><a href="url"></a>Senior Scala Backend Developer</td>
        <td class="city">Киев</td>
        <td class="companyName">EXANTE</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32999268?query=java%20Kiev"><a href="url"></a>Senior Software Architect (Finland, Helsinki)</td>
        <td class="city">Киев</td>
        <td class="companyName">We Got Talent OY</td>
        <td class="salary">6 000-8 000 EUR</td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32080490?query=java%20Kiev"><a href="url"></a>Senior Fullstack Developer</td>
        <td class="city">Киев</td>
        <td class="companyName">Manpower Ukraine</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32998996?query=java%20Kiev"><a href="url"></a>DevOps / Site Reliability Engineer (Helsinki, Finland)</td>
        <td class="city">Киев</td>
        <td class="companyName">We Got Talent OY</td>
        <td class="salary">5 000-7 000 EUR</td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32884105?query=java%20Kiev"><a href="url"></a>Senior Java Developer</td>
        <td class="city">Киев</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32875176?query=java%20Kiev"><a href="url"></a>Senior Android Developer</td>
        <td class="city">Киев</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32351951?query=java%20Kiev"><a href="url"></a>PHP (Laravel) Back-end Developer</td>
        <td class="city">Киев</td>
        <td class="companyName">Райффайзен Банк Аваль</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32929791?query=java%20Kiev"><a href="url"></a>Aspose.Imaging Cloud .NET backend developer</td>
        <td class="city">Киев</td>
        <td class="companyName">Aspose</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32873923?query=java%20Kiev"><a href="url"></a>Middle Java Developer</td>
        <td class="city">Киев</td>
        <td class="companyName">Kyivstar</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32922974?query=java%20Kiev"><a href="url"></a>Senior data engineer</td>
        <td class="city">Киев</td>
        <td class="companyName">ДТЭК</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32879945?query=java%20Kiev"><a href="url"></a>Senior QA Automation</td>
        <td class="city">Киев</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32879985?query=java%20Kiev"><a href="url"></a>Regular / Senior Big Data developer (Python)</td>
        <td class="city">Киев</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32854864?query=java%20Kiev"><a href="url"></a>Senior Full Stack Developer</td>
        <td class="city">Киев</td>
        <td class="companyName">АНКОР в Украине</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32883863?query=java%20Kiev"><a href="url"></a>Regular / Senior IBM BPM Developer</td>
        <td class="city">Киев</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32869110?query=java%20Kiev"><a href="url"></a>Data Engineer</td>
        <td class="city">Киев</td>
        <td class="companyName">ООО lifecell</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32876248?query=java%20Kiev"><a href="url"></a>Team lead for SMC / PMC GUI</td>
        <td class="city">Киев</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32876469?query=java%20Kiev"><a href="url"></a>Бизнес-аналитик / Системный аналитик</td>
        <td class="city">Киев</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32881072?query=java%20Kiev"><a href="url"></a>Senior Technical Support Engineer</td>
        <td class="city">Киев</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32876095?query=java%20Kiev"><a href="url"></a>Business Analyst / Workflow Engineer</td>
        <td class="city">Киев</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32880304?query=java%20Kiev"><a href="url"></a>L3 Support Engineer</td>
        <td class="city">Киев</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32766003?query=java%20Kiev"><a href="url"></a>Розробник шини даних на Java</td>
        <td class="city">Киев, Университет и еще 1</td>
        <td class="companyName">АО ТАСКОМБАНК</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32467607?query=java%20Kiev"><a href="url"></a>Vulnerability Manager (Penetration Testing)</td>
        <td class="city">Киев</td>
        <td class="companyName">Райффайзен Банк Аваль</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/30524706?query=java%20Kiev"><a href="url"></a>Engineer (Automation / Load testing)</td>
        <td class="city">Киев</td>
        <td class="companyName">Альфа-Банк, Украина</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/31381381?query=java%20Kiev"><a href="url"></a>Системний аналітик</td>
        <td class="city">Киев</td>
        <td class="companyName">Альфа-Банк, Украина</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32765744?query=java%20Kiev"><a href="url"></a>Начальник управління розвитку фронт-офісних систем та сервісів</td>
        <td class="city">Киев, Университет и еще 1</td>
        <td class="companyName">АО ТАСКОМБАНК</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/31799792?query=java%20Kiev"><a href="url"></a>Java Developer / Delivery Lead</td>
        <td class="city">Киев, Осокорки</td>
        <td class="companyName">ООО ДМС-Рішення</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/33176628?query=java%20Kiev"><a href="url"></a>Big Data Software Engineer</td>
        <td class="city">Киев</td>
        <td class="companyName">SoftServe</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/33169549?query=java%20Kiev"><a href="url"></a>Senior QA Engineer</td>
        <td class="city">Киев</td>
        <td class="companyName">ООО LeanSquad</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/33102457?query=java%20Kiev"><a href="url"></a>Middle Android Developer</td>
        <td class="city">Киев</td>
        <td class="companyName">ООО CLE (Clever Log Engine)</td>
        <td class="salary">от 40 000 грн.</td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/33096508?query=java%20Kiev"><a href="url"></a>Java Back End Developer (Middle, Senior)</td>
        <td class="city">Киев</td>
        <td class="companyName">Right&amp;Above, IT Company</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/33109359?query=java%20Kiev"><a href="url"></a>Android Developer</td>
        <td class="city">Киев</td>
        <td class="companyName">AvtoHelpUkraine</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32060553?query=java%20Kiev"><a href="url"></a>Junior Java Developer</td>
        <td class="city">Киев</td>
        <td class="companyName">Provide Support, LLC (New York, US)</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32755477?query=java%20Kiev"><a href="url"></a>Senior Java Developer (проектная работа)</td>
        <td class="city">Киев</td>
        <td class="companyName">DATAS Technology</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32966358?query=java%20Kiev"><a href="url"></a>Програміст Java</td>
        <td class="city">Киев, Петровка и еще 2</td>
        <td class="companyName">Украинский Процессинговый Центр</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/33043296?query=java%20Kiev"><a href="url"></a>Javascript (ES6) developer</td>
        <td class="city">Киев</td>
        <td class="companyName">ИП Devsteam.mobi</td>
        <td class="salary">11 200-28 000 грн.</td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32979267?query=java%20Kiev"><a href="url"></a>Senior Java developer</td>
        <td class="city">Киев</td>
        <td class="companyName">ООО First Bridge</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32060559?query=java%20Kiev"><a href="url"></a>JavaScript developer</td>
        <td class="city">Киев</td>
        <td class="companyName">Provide Support, LLC (New York, US)</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32997138?query=java%20Kiev"><a href="url"></a>Senior QA Engineer (проектная работа)</td>
        <td class="city">Киев</td>
        <td class="companyName">DATAS Technology</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/33026191?query=java%20Kiev"><a href="url"></a>Front-end developer (React)</td>
        <td class="city">Киев</td>
        <td class="companyName">ООО LeanSquad</td>
        <td class="salary">450-800 USD</td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32974423?query=java%20Kiev"><a href="url"></a>Android Developer</td>
        <td class="city">Киев</td>
        <td class="companyName">ООО Сота Трейд Групп</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/33011011?query=java%20Kiev"><a href="url"></a>Robotic Process Automation Builder</td>
        <td class="city">Киев</td>
        <td class="companyName">ООО CC-Interactive</td>
        <td class="salary">500-1 000 USD</td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32951298?query=java%20Kiev"><a href="url"></a>Senior C++ Developer (Linux)</td>
        <td class="city">Киев</td>
        <td class="companyName">Codeminders</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32950453?query=java%20Kiev"><a href="url"></a>Менеджер проектів Управління кредитних продуктів (Corezoid)</td>
        <td class="city">Киев</td>
        <td class="companyName">Первый Украинский Международный банк</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32856470?query=java%20Kiev"><a href="url"></a>Junior Java Developer</td>
        <td class="city">Киев</td>
        <td class="companyName">ООО Skywind Group</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/31472325?query=java%20Kiev"><a href="url"></a>Android-разработчик</td>
        <td class="city">Киев</td>
        <td class="companyName">ООО ФЛОР 12 АППС</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32907382?query=java%20Kiev"><a href="url"></a>Архитектор программного обеспечения (Software Architect)</td>
        <td class="city">Киев</td>
        <td class="companyName">ПРАВЭКС-БАНК, ГРУППА INTESA SANPAOLO</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32907195?query=java%20Kiev"><a href="url"></a>IT Auditor</td>
        <td class="city">Киев</td>
        <td class="companyName">ПРАВЭКС-БАНК, ГРУППА INTESA SANPAOLO</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32879052?query=java%20Kiev"><a href="url"></a>Senior PostgreSQL Developer</td>
        <td class="city">Киев</td>
        <td class="companyName">ПримоКоллект. Центр денежных требований</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32844107?query=java%20Kiev"><a href="url"></a>Team lead UX/UI designer</td>
        <td class="city">Киев</td>
        <td class="companyName">ООО Artkai</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32844117?query=java%20Kiev"><a href="url"></a>Middle UXI/UI Designer</td>
        <td class="city">Киев</td>
        <td class="companyName">ООО Artkai</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/31801346?query=java%20Kiev"><a href="url"></a>Java Software Engineer</td>
        <td class="city">Киев, Театральная и еще 2</td>
        <td class="companyName">ООО Софтиндекс</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32858215?query=java%20Kiev"><a href="url"></a>JIRA Developer</td>
        <td class="city">Киев</td>
        <td class="companyName">ООО Skywind Group</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32884237?query=java%20Kiev"><a href="url"></a>React Native Developer</td>
        <td class="city">Киев</td>
        <td class="companyName">Mobiwolf</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32758244?query=java%20Kiev"><a href="url"></a>Java Developer</td>
        <td class="city">Киев</td>
        <td class="companyName">Codeminders</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32716661?query=java%20Kiev"><a href="url"></a>Ruby on Rails Developer</td>
        <td class="city">Киев</td>
        <td class="companyName">ООО LeanSquad</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/32714360?query=java%20Kiev"><a href="url"></a>QA Engineer, Technical Support Specialist</td>
        <td class="city">Киев</td>
        <td class="companyName">ООО LeanSquad</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://bucha.hh.ua/vacancy/31801322?query=java%20Kiev"><a href="url"></a>Front-end JavaScript developer</td>
        <td class="city">Киев, Театральная и еще 2</td>
        <td class="companyName">ООО Софтиндекс</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://moikrug.ru/vacancies/1000052947"><a href="url"></a>Java developer</td>
        <td class="city"></td>
        <td class="companyName">Litota Labs</td>
        <td class="salary">До 140 000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://moikrug.ru/vacancies/1000051352"><a href="url"></a>Java-разработчик</td>
        <td class="city"></td>
        <td class="companyName">Litota Labs</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://moikrug.ru/vacancies/1000034935"><a href="url"></a>Middle Java-разработчик</td>
        <td class="city"></td>
        <td class="companyName">CSSSR</td>
        <td class="salary">От 70 000 до 130 000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://moikrug.ru/vacancies/1000052800"><a href="url"></a>C/Java Software Developer</td>
        <td class="city"></td>
        <td class="companyName">Nitka Technologies, Inc.</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://moikrug.ru/vacancies/1000039958"><a href="url"></a>Kotlin/Java developer</td>
        <td class="city"></td>
        <td class="companyName">United Traders</td>
        <td class="salary">До 200 000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://moikrug.ru/vacancies/1000052947"><a href="url"></a>Java developer</td>
        <td class="city"></td>
        <td class="companyName">Litota Labs</td>
        <td class="salary">До 140 000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://moikrug.ru/vacancies/1000051352"><a href="url"></a>Java-разработчик</td>
        <td class="city"></td>
        <td class="companyName">Litota Labs</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://moikrug.ru/vacancies/1000034935"><a href="url"></a>Middle Java-разработчик</td>
        <td class="city"></td>
        <td class="companyName">CSSSR</td>
        <td class="salary">От 70 000 до 130 000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://moikrug.ru/vacancies/1000039958"><a href="url"></a>Kotlin/Java developer</td>
        <td class="city"></td>
        <td class="companyName">United Traders</td>
        <td class="salary">До 200 000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://moikrug.ru/vacancies/1000052800"><a href="url"></a>C/Java Software Developer</td>
        <td class="city"></td>
        <td class="companyName">Nitka Technologies, Inc.</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://moikrug.ru/vacancies/1000052621"><a href="url"></a>Java backend разработчик (удалённая работа)</td>
        <td class="city"></td>
        <td class="companyName">SLEKI</td>
        <td class="salary">От 100 000 до 150 000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://moikrug.ru/vacancies/1000052539"><a href="url"></a>Senior Backend Developer (Java/Python)</td>
        <td class="city"></td>
        <td class="companyName">Nitka Technologies, Inc.</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://moikrug.ru/vacancies/1000052908"><a href="url"></a>Sr Java Developer</td>
        <td class="city"></td>
        <td class="companyName">Nitka Technologies, Inc.</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://moikrug.ru/vacancies/1000052657"><a href="url"></a>Мobile developer (React Native) - Remote / Удаленка - Full time</td>
        <td class="city"></td>
        <td class="companyName">Maxiru</td>
        <td class="salary">От 130 000 до 185 000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://moikrug.ru/vacancies/1000052523"><a href="url"></a>Backend Developer</td>
        <td class="city"></td>
        <td class="companyName">IT-Box</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://moikrug.ru/vacancies/1000053041"><a href="url"></a>Android разработчик</td>
        <td class="city"></td>
        <td class="companyName">Mirafox</td>
        <td class="salary">От 180 000 до 200 000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://moikrug.ru/vacancies/1000051222"><a href="url"></a>Android-разработчик</td>
        <td class="city"></td>
        <td class="companyName">PUMP</td>
        <td class="salary">От 120 000 до 180 000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://moikrug.ru/vacancies/1000052820"><a href="url"></a>Python Developer под проект на 2-3 месяца</td>
        <td class="city"></td>
        <td class="companyName">Строительный Двор</td>
        <td class="salary">От 80 000 до 130 000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://moikrug.ru/vacancies/1000052753"><a href="url"></a>Senior back-end разработчик Kotlin</td>
        <td class="city"></td>
        <td class="companyName">GXB Development</td>
        <td class="salary">От 80 000 до 160 000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://moikrug.ru/vacancies/1000049095"><a href="url"></a>Аndroid developer</td>
        <td class="city"></td>
        <td class="companyName">ShowJet</td>
        <td class="salary">До 200 000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://moikrug.ru/vacancies/1000052931"><a href="url"></a>Senior Software Architect, relocation to Finland</td>
        <td class="city">Киев</td>
        <td class="companyName">Games Factory Talents OY</td>
        <td class="salary">От 6 000 до 8 000 eur.</td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://moikrug.ru/vacancies/1000044146"><a href="url"></a>Программист 1С Битрикс</td>
        <td class="city"></td>
        <td class="companyName">Студия DENISOV</td>
        <td class="salary">От 60 000 до 150 000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://moikrug.ru/vacancies/1000052834"><a href="url"></a>Android/IOS Developer с опытом в монетизации и рекламе</td>
        <td class="city">Киев</td>
        <td class="companyName">Ultimate Guitar</td>
        <td class="salary">От 1 000 до 5 000 usd.</td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://moikrug.ru/vacancies/1000052743"><a href="url"></a>Senior\Middle Front-End Разработчик (Angular)</td>
        <td class="city"></td>
        <td class="companyName">24 Brains</td>
        <td class="salary">От 80 000 до 150 000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://moikrug.ru/vacancies/1000048942"><a href="url"></a>Frontend разработчик</td>
        <td class="city"></td>
        <td class="companyName">InterPals.net</td>
        <td class="salary">От 80 000 до 140 000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://moikrug.ru/vacancies/1000040227"><a href="url"></a>QA Engineer</td>
        <td class="city"></td>
        <td class="companyName">United Traders</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://moikrug.ru/vacancies/1000052850"><a href="url"></a>Middle/ Senior Data Scientist (NLP)</td>
        <td class="city"></td>
        <td class="companyName">Verifika</td>
        <td class="salary">От 200 000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://moikrug.ru/vacancies/1000052693"><a href="url"></a>Swift / IOS-разработчик (remote)</td>
        <td class="city"></td>
        <td class="companyName">SYNAPS</td>
        <td class="salary">От 100 000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://moikrug.ru/vacancies/1000052600"><a href="url"></a>Разработчик мобильных приложений React Native для iOS и Android</td>
        <td class="city"></td>
        <td class="companyName">Vezzer.no</td>
        <td class="salary">От 150 000 до 200 000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://moikrug.ru/vacancies/1000052816"><a href="url"></a>Веб-программист (frontend, react.JS / angular / vue)</td>
        <td class="city"></td>
        <td class="companyName">ЦРПО «Лидер-ИТ»</td>
        <td class="salary">От 60 000 до 250 000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://moikrug.ru/vacancies/1000034150"><a href="url"></a>Бэкенд-разработчик (Ruby on Rails)</td>
        <td class="city"></td>
        <td class="companyName">FunBox</td>
        <td class="salary">От 110 000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://moikrug.ru/vacancies/1000046794"><a href="url"></a>Backend разработчик (Python)</td>
        <td class="city"></td>
        <td class="companyName">Rick.ai</td>
        <td class="salary">От 120 000 до 170 000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://moikrug.ru/vacancies/1000052961"><a href="url"></a>React Native Developer</td>
        <td class="city"></td>
        <td class="companyName">Inkitt</td>
        <td class="salary">От 150 000 до 250 000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://moikrug.ru/vacancies/1000052803"><a href="url"></a>Senior Ruby on Rails</td>
        <td class="city"></td>
        <td class="companyName">LeanSquad</td>
        <td class="salary">От 3 000 до 4 500 usd.</td>
    </tr>
    <tr class="vacancy">
        <td class="title" a href="https://moikrug.ru/vacancies/1000053026"><a href="url"></a>QA Lead in Automation</td>
        <td class="city"></td>
        <td class="companyName">Whisk</td>
        <td class="salary">От 3 500 usd.</td>
    </tr>
    <tr class="vacancy template" style="display: none">
        <td class="title"><a href="url"></a></td>
        <td class="city"></td>
        <td class="companyName"></td>
        <td class="salary"></td>
    </tr>
    </tbody>
</table>
</body>
</html>




<div class="card card-hover card-visited wordwrap job-link">
    <img width="100" height="50" alt="Ciklum" class="preview-img preview-img-logo" src="//i.work.ua/employer_design/3/3/2/307332_company_logo_2.png">
    <h2 class="add-bottom-sm">
        <a href="/ru/jobs/3569870/" title="Senior Java Developer for Thomas Cook (190002DO), вакансия от 26 августа 2019">
            Senior Java Developer for Thomas Cook (190002DO)
        </a>
    </h2>
    <span>
        <b>
            Ciklum
        </b>
    </span>&nbsp;
    <span data-content="Подлинность компании подтверждена Work.ua.
        <a href='/help/?id=177' class='bp-more' target='_blank'>Подробнее<span class='glyphicon glyphicon-chevron-right'>
        </span>
        </a>" data-toggle="popover">
        <span class="glyphicon glyphicon-confirmed text-blue-light ">
        </span>
    </span>
    <span class="label label-vip ">
        VIP
    </span>&nbsp;
    <span>
        ·
    </span>
    <span>
        Киев&nbsp;·
    </span>
    <span>
        3&nbsp;дня&nbsp;назад
    </span>
    <p class="overflow"> Полная занятость. Опыт работы от 2 лет.
        <br> On&nbsp;behalf of Thomas Cook, Ciklum is&nbsp;looking for Senior Java Developer to&nbsp;join its Kyiv team on&nbsp;a&nbsp;full-time…
        <a href="/ru/jobs/3569870/">
            <span class="glyphicon glyphicon-chevron-right">
            </span>
        </a>
    </p>
    <div class="saved-jobs pull-left add-top-xs" data-id="3569870">
        <span class="glyphicon glyphicon-heart remove-archive">
        </span>
        <span class="saved-vacancy">
            Уже в
            <a href="/ru/jobseeker/my/saved-jobs/" class="saved-jobs-lnk" target="_blank">
            сохраненных
        </a>
        </span>
        <a href="/ru/jobseeker/my/saved-jobs/?action=add&amp;id=3569870" rel="nofollow">
            <span class="glyphicon glyphicon-white-heart">
            </span> <span class="no-saved-vacancy text-blue">
            Сохранить
        </span>
        </a>
    </div>
    <div class="alert alert-warning add-top cut-bottom hidden" id="not-logged-in_3569870">
        <p>
            Чтобы сохранить вакансию, нужно
            <a href="/ru/jobseeker/login/">
                войти
            </a>
            или
            <a href="/ru/jobseeker/register/">
                зарегистрироваться
            </a>
            .
        </p>
    </div>
</div>